// //////////////////// Components styling //////////////////// //




// ///// Header buttons ///// //

.header__buttons {
  // flex-basis: 60%;
  display: none;
  justify-content: center;
  text-align: right;
  @media screen and(min-width: $break-sm) {
    display: block;
    flex-basis: 60%;
  }
}
.header__button {
  margin: 0 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: $font-size-sm;
  transition: $transition;
  cursor: pointer;
}
.button--green {
  background: $color-green;
  color: $color-white;
  border:solid 1px #46b688;
  width: 250px;
  &:hover {
    background: #25855d;
    border:solid 1px #25855d;
  }
  a {
    text-decoration: none;
    color: $color-white;
  }
}
.button--white {
  background: $color-white;
  border:solid 1px $color-blue;
  color: $color-blue;
  width: 100px;
  &:hover {
    background: $color-blue;
    color: $color-white;
    a {
      color: $color-white;
    }
  }
  a {
    text-decoration: none;
    color: $color-blue;
    transition: $transition;
  }
  i {
    margin-left: 5px;
  }
}