// //////////////////// Variables //////////////////// //

// Colors
$bg-color: #fafafa;
// $bg-color: #333;
$color-blue: #147abf;
$color-white: #fff;
$color-light: #eee;
$color-grey: #eee;
$color-dark: #555;
$color-black: #000;
$color-green: #46b688;
$text-color: #848484;
$color: #fff;

// Layout
$container-width: 95%;
$break-sm: 680px;
$break-md: 768px;
$break-lg: 900px;
$break-xl: 1224px;

// Fonts
$font-family: Arial, Helvetica, sans-serif;
$font-size-sm: 12px;
$font-size-md: 24px;
$font-size-lg: 36px;

// Transitions
$transition: .2s ease-in-out;