
// //////////////////// Header //////////////////// //

.header {
  height: 60px;
  background: $color-white;
  position: fixed;
  width: 100%;
  z-index: 10;
box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: $container-width;
  margin: 0 auto;
  padding: 10px;
}
.header__logo {
  flex-basis: 10%;
  line-height: 40px;
  cursor: pointer;
  span:first-child {
    color: #d03730;
  }
  span:nth-child(2) {
    color: #0d4268;
  }
}

.header__heading {
  flex-basis: 55%;
  color: $color-blue;
  line-height: 40px;
  @media screen and(min-width: $break-sm) {
    flex-basis: 25%;
  }
  h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    @media screen and(min-width: $break-lg) {
      font-size: $font-size-md;
    }
  }
}





// //////////////////// Top //////////////////// //

.top {
  height: 45px;
  line-height: 45px;
  margin: 0 auto 50px;
  background: $color-grey;
  color: $color-blue;
  padding-left: 30px;
  padding-top: 60px;
  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    @media screen and (min-width: $break-sm) {
      font-size: 17px;
    }
  }
}