// //////////////////// Main styling //////////////////// //


// ///// Side menu ///// //

.container {
  display: flex;
  width: $container-width;
  margin: 0 auto;
}
.aside {
  display: none;
  flex-basis: 20%;
  padding-right: 10px;
  @media screen and (min-width: $break-sm){
    display: block;
  }
}
.aside__list {
  list-style: none;  
  li {
    margin-bottom: 30px;
    color: $color-dark;
    &:hover {
      cursor: pointer;
      color: $color-black;
    }
  }
}







// ///// Main layout ///// //

.main {
  flex-basis: $container-width;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 260px));
  justify-content: center;
  grid-gap: 30px; 
  margin: 0 auto 50px;
  
  padding-bottom: 50px;
 
}
.main__card {
  position: relative;
  width: 260px;
  height: 170px;
  background: $color-white;  
  border-radius: 3px;
  display: flex;
  flex-direction: column; 
  transition: $transition;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translateY(-1px); 
  }
}
.main__card-img {
  position: relative;
  height: 70%;
  transition: $transition;
  color: $color-light;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 115px;
    
  }
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.main__card-info {
  display: flex;
  justify-content: space-around;
  color: $text-color;
  p {
    cursor: pointer;
  }
}