// ///// Mobile menu ///// //

.header__mobileMenu {
  position: relative;
  top: 5px;
  right: 5px;
  height: 32px;
  color: $color-blue;
  cursor: pointer;
  @media screen and (min-width: $break-sm) {
    display: none;
  }
}
.mobileDropdown {
  display: none;
  width: 100vw;
  height: 390px;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 15;
  background: $color-dark;
  opacity: .97;
  @media screen and (min-width: $break-md) {
    display: none;
  }
}
.active {
  display: block;
  @media screen and (min-width: $break-sm) {
    display: none;
  }
}
.mobileDropdown__menu {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  li {
    height: 35px;
    line-height: 35px;
    border-bottom: solid 1px #444;
    
  }
  a {
    text-decoration: none;
    color: $color-white;
    font-size: 20px;
    transition: $transition;
    &:hover {
      color: #afafaf;
    }
  }
}